body,
ul,
dl,
dd {
  margin: 0px;
  padding: 0px;
}
html{
  font-size: 16px;
}
.wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% 100%;
}

.play_wrap {
  width: 50rem;
  height: 34rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -25rem;
  margin-top: -17rem;
  /* background-color: #f9f9f9; */
}

.search_bar {
  height: 3.75rem;
  background-color: #1eacda;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 11;
}

.search_bar img {
  margin-left: 1.4375rem;
}

.search_bar input {
  margin-right: 1.4375rem;
  width: 18.5rem;
  height: 2.125rem;
  border-radius: 1.0625rem;
  border: 0px;
  background: url("../images/zoom.png") 16.5625rem center no-repeat
    rgba(255, 255, 255, 0.45);
  text-indent: 0.9375rem;
  outline: none;
}

.center_con {
  height: 27.1875rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  position: relative;
}

.song_wrapper {
  width: 12.5rem;
  height: 27.1875rem;
  box-sizing: border-box;
  padding: 0.625rem;
  list-style: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.song_stretch {
  width: 37.5rem;
}

.song_list {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.song_list::-webkit-scrollbar {
  display: none;
}

.song_list li {
  font-size: 0.75rem;
  color: #333;
  height: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 36.25rem;
  padding-left: 0.625rem;
}

.song_list li:nth-child(odd) {
  background-color: rgba(240, 240, 240, 0.3);
}

.song_list li a {
  display: block;
  width: 1.0625rem;
  height: 1.0625rem;
  background-image: url("../images/play.png");
  background-size: 100%;
  margin-right: 0.3125rem;
  box-sizing: border-box;
}

.song_list li b {
  font-weight: normal;
  width: 7.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song_stretch .song_list li b {
  width: 12.5rem;
}

.song_stretch .song_list li em {
  width: 9.375rem;
}

.song_list li span {
  width: 1.4375rem;
  height: 1.0625rem;
  margin-right: 3.125rem;
}
.song_list li span i {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: url("../images/table.png") left -48rem no-repeat;
}

.song_list li em,
.song_list li i {
  font-style: normal;
  width: 6.25rem;
}

.player_con {
  width: 25rem;
  height: 27.1875rem;
  position: absolute;
  left: 12.5rem;
  top: 0px;
}

.player_con2 {
  width: 25rem;
  height: 27.1875rem;
  position: absolute;
  left: 12.5rem;
  top: 0px;
}

.player_con2 video {
  position: absolute;
  left: 1.25rem;
  top: 1.875rem;
  width: 22.1875rem;
  height: 16.5625rem;
}

.disc {
  position: absolute;
  left: 4.5625rem;
  top: 3.75rem;
  z-index: 9;
}
.cover {
  position: absolute;
  left: 7.8125rem;
  top: 7rem;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 4.6875rem;
  z-index: 8;
}
.comment_wrapper {
  width: 11.25rem;
  height: 27.1875rem;
  list-style: none;
  position: absolute;
  left: 37.5rem;
  top: 0px;
  padding: 1.5625rem 0.625rem;
}
.comment_wrapper .title {
  position: absolute;
  top: 0;
  margin-top: 0.625rem;
}
.comment_wrapper .comment_list {
  overflow: auto;
  height: 25.625rem;
}
.comment_wrapper .comment_list::-webkit-scrollbar {
  display: none;
}
.comment_wrapper dl {
  padding-top: 0.625rem;
  padding-left: 3.4375rem;
  position: relative;
  margin-bottom: 1.25rem;
}

.comment_wrapper dt {
  position: absolute;
  left: 0.25rem;
  top: 0.625rem;
}

.comment_wrapper dt img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
}

.comment_wrapper dd {
  font-size: 0.75rem;
}

.comment_wrapper .name {
  font-weight: bold;
  color: #333;
  padding-top: 0.3125rem;
}

.comment_wrapper .detail {
  color: #666;
  margin-top: 0.3125rem;
  line-height: 1.125rem;
}
.audio_con {
  height: 3.125rem;
  background-color: #f1f3f4;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.myaudio {
  width: 50rem;
  height: 2.5rem;
  margin-top: 0.3125rem;
  outline: none;
  background-color: #f1f3f4;
}
/* 旋转的动画 */
@keyframes Rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* 旋转的类名 */
.autoRotate {
  animation-name: Rotate;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-timing-function: linear;
  animation-duration: 5s;
}
/* 是否正在播放 */
.player_con.playing .disc,
.player_con.playing .cover {
  animation-play-state: running;
}

.play_bar {
  position: absolute;
  left: 12.5rem;
  top: -0.625rem;
  z-index: 10;
  transform: rotate(-25deg);
  transform-origin: 0.75rem 0.75rem;
  transition: 1s;
}
/* 播放杆 转回去 */
.player_con.playing .play_bar {
  transform: rotate(0);
}
/* 搜索历史列表 */
.search_history {
  position: absolute;
  width: 18.5rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  list-style: none;
  right: 1.4375rem;
  top: 3.125rem;
  box-sizing: border-box;
  padding: 0.625rem 1.25rem;
  border-radius: 1.0625rem;
}
.search_history li {
  line-height: 1.5rem;
  font-size: 0.75rem;
  cursor: pointer;
}
.switch_btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.right_line {
  position: absolute;
  left: 0;
  top: 0;
}
.video_con video {
  position: fixed;
  width: 50rem;
  height: 34.125rem;
  left: 50%;
  top: 50%;
  margin-top: -17.0625rem;
  transform: translateX(-50%);
  z-index: 990;
}
.video_con .mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 980;
  background-color: rgba(0, 0, 0, 0.8);
}
.video_con .shutoff {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  background: url("../images/shutoff.png") no-repeat;
  left: 50%;
  margin-left: 25rem;
  margin-top: -17.0625rem;
  top: 50%;
  z-index: 995;
}
@media only screen and (max-width:768px) and (orientation:portrait){
  html{
    font-size: 5px;
  }
  .disc{
    position: absolute;
    left: 6.5625rem;
    top: 3.75rem;
    z-index: 9;
    width: 12rem;
  }
  .cover {
    position: absolute;
    left: 8.8125rem;
    top: 6rem;
    width: 7.6rem;
    height: 7.6rem;
    border-radius: 4.6875rem;
    z-index: 8;
}
.play_wrap{
  left: 73%;
  top: 41%;
}
.search_bar input{
 margin-right: 16.1875rem;;
}
.song_wrapper{
  height:36.1875rem;
}
.play_bar {
    position: absolute;
    left: 11.5rem;
    top: -0.625rem;
    z-index: 10;
    transform: rotate(-25deg);
    transform-origin: 0.75rem 0.75rem;
    transition: 1s;
    width: 24%;
}
.comment_wrapper{
  display: none;
}
.center_con {
  height:35.1875rem;
}
.myaudio{
  width: 35rem;
}
}
  @media only screen and (max-width: 768px) and (orientation:landscape){
    html{
      font-size: 10px;
    }
    .play_bar {
      width: 23%;
      left: 12.5625rem;
  }
  .disc{
    left: 6.5625rem;
    width: 12rem;
  }
  .cover{
    left: 7.8125rem;
    top: 4.125rem;
  }
  .center_con{
    height: 24.1875rem;
  }
  .play_wrap{
    top: 54%;
    width: 56rem;
    left: 45%;
  }
  .audio_con {
    height: 2.125rem;
}
  .myaudio{
    width: 56rem;
  }
  .song_wrapper{
    width: 13.1875rem;
    height: 24.1975rem;
  }
  }
